.red {
  width: 150px;
  height: 150px;
  background-color: red;
  margin: 0 auto;
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 0 auto;
}
.green {
  width: 70px;
  height: 70px;
  background-color: green;
}
